<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
<link rel="stylesheet" href="{% static '/postcards/semantic/semantic.min.css' %}">
<script src="{% static '/postcards/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static '/postcards/semantic/semantic.min.js' %}"></script>

</head>
<body style="background-color: lightslategrey">
{% block header %}
    <h1>Входящие откртытки</h1>
{% endblock header %}
{% block content %}
{% endblock content %}
</body>
</html>