{% extends 'wip/base_form.html' %}
{% block back_link %}
<a href="{% url 'wip:model:models' request.user.username %}">Назад</a>
{% endblock back_link %}
{% block script %}
<script>
$('#id_bs_category.ui.dropdown').dropdown({
    placeholder: false,
    clearable: true,
    fullTextSearch: true,
    action: function(text, value) {
        const category_id = value;
        $('select#id_bs_unit').dropdown('set selected', '');
        document.querySelector('#id_name').value = '';
        $(this).dropdown('set selected', value);
        $(this).dropdown('hide');
        $('#id_bs_unit').parent().find('.menu .item').each((i, element) => {
            element.style.display = 'block';
            const unit_value = element.dataset['value'];
            if (category_id !== '' && unit_value !== '' && !unit_value.startsWith(category_id + '_')) {
                element.style.display = 'none';
            }
        });
    }
});

$('#id_bs_unit.ui.dropdown').dropdown({
    placeholder: false,
    clearable: true,
    fullTextSearch: true,
    action: function(text, value) {
        if (value === '') {
            document.querySelector('#id_name').value = '';
        } else {
            document.querySelector('#id_name').value = text;
        }
        $(this).dropdown('set selected', value);
        $(this).dropdown('hide');
    },
});

$('#id_bs_kill_team.ui.dropdown').dropdown({
    placeholder: false,
    clearable: true,
    fullTextSearch: true,
    action: function(text, value) {
        $(this).dropdown('set selected', value);
        $(this).dropdown('hide');
    },
});

function onChangeUnit(event) {
    let newValue = '';
    if (event.target.selectedOptions[0].value.length > 0) {
        newValue = event.target.selectedOptions[0].text;
    }
    document.querySelector('#id_name').value = newValue;
}

</script>
{% endblock script %}