{% extends 'wip/base.html' %}
{% load wip_filters %}
{% load static %}
{% block content %}
<script>
$(function() {
    function splitQuery() {
        const search = location.search;
        const res = {};
        search.replace('?','').split('&').filter(x => x.length > 0).forEach(param => {
            const k = param.split('=')[0];
            res[k] = param.split('=')[1];
        })
        return res;
    }
    function glueQuery(kv) {
        const res = [];
        Object.keys(kv).map(k => {
            res.push(k+'='+kv[k]);
        });
        return '?' + res.join('&');
    }
    $('#submit_work_map_filter').on('click', function(event) {
        event.preventDefault();
        const query = splitQuery();
        query['work_map_year'] = $('#id_work_map_year').val();
        location.href = glueQuery(query);
    });
    $('#submit_filter_form').on('click', function(event) {
        event.preventDefault();
        const query = splitQuery();
        query['status'] = $('#id_status').val();
        query['page_size'] = $('#id_page_size').val();
        location.href = glueQuery(query);
    })
})
</script>
<h2>
    Модели пользователя {{ user.username }}
</h2>
<div class="ui grid relaxed">
    <div class="six wide column">
        {% include 'wip/widgets/progress_map.html' %}
    </div>
    <div class="two wide column">
        {{ work_map_filter_form.as_p }}
        <a id="submit_work_map_filter">Применить</a>
    </div>
</div>
<div class="ui grid relaxed">
    {% for col in time_status_map %}
        <div class="three wide column">
        {% for item in col %}
            <div>{{ item.0 }} - {{ item.1|duration }}</div>
        {% endfor %}
        </div>
    {% endfor %}
    <div class="two wide column">
        {% for status_group, status_group_stats in units_count_by_status_group.items %}
            {% if status_group_stats is not None and status_group_stats.model is not None %}
                <div>{{ status_group }} - {{ status_group_stats.model }}</div>
            {% endif %}
        {% endfor %}
        {% if units_total is not None %}
            <div>Всего - {{ units_total }}</div>
        {% endif %}

        {% for status_group, status_group_stats in units_count_by_status_group.items %}
            {% if status_group_stats is not None and status_group_stats.terrain is not None %}
                <div>{{ status_group }}(террейн) - {{ status_group_stats.terrain }}</div>
            {% endif %}
        {% endfor %}
        {% if terrain_total is not None %}
            <div>Террейна всего - {{ terrain_total }}</div>
        {% endif %}
    </div>
</div>
<div class="ui grid relaxed form ui">
    <div class="three wide column">
        {{ filter_form.as_div }}
        <a id="submit_filter_form">
            <i class="search icon"></i>
            Искать
        </a>
    </div>
</div>
<div style="margin: 10px"></div>
{% if request.user.is_authenticated and request.user == user %}
<a href="{% url 'wip:model:add_model' %}">
<i class="icon plus square outline"></i>
    Добавить
</a>
{% endif %}
<div class="ui cards" style="margin-bottom: 10px">
    {% for model in models %}
        <div class="ui card">
            {% if model.get_last_image_url %}
                {% include 'wip/widgets/model_image.html' %}
            {% else %}
                <img src="{% static 'wip/img/default/ready.jpg' %}">
            {% endif %}
            <div class="content">
                <a class="header" href="">
                    <a href="{% url 'wip:model:progress' user.username model.id %}">{{ model.name }}</a>
                </a>
                <div class="meta">
                    {{ model.user_status.name }} | {{ model.get_hours_spent|duration }}
                    {% if not model.user_status.is_initial and not model.user_status.is_final %}
                        | лежит уже {{ model.get_days_since_buy }} дней
                    {% endif %}
                </div>
                <div class="description">
                    {% if model.terrain == True %}
                        <div style="color: lightcoral">Террейн</div>
                    {% endif %}
                    {% if model.unit_count > 1 %}
                        <div>Юнитов в модели: {{ model.unit_count }}</div>
                    {% endif %}
                    {% if model.battlescribe_unit %}
                        <div>Категория BS: {{ model.battlescribe_unit.bs_category.name }}</div>
                        <div>Модель BS: {{ model.battlescribe_unit.name }}</div>
                    {% endif %}
                    {% if model.kill_team %}
                        <div>Киллтим: {{ model.kill_team.name }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="extra content">
                {% if request.user.is_authenticated and request.user == user %}
                    <a href="{% url 'wip:model:edit_model' model.id %}">
                        <i class="pencil icon"></i>
                        Редактировать
                    </a>
                    {% if model.user_status.next %}
                        <div>
                            <a href="{% url 'wip:model:model_status_action' user.username model.id model.user_status.next.slug %}">
                                <i class="arrow alternate circle up outline icon"></i>
                                {{ model.user_status.next.transition_title }}
                            </a>
                        </div>
                    {% endif %}
                    {% if not model.user_status.is_final %}
                        <div>
                            <a href="{% url 'wip:model:add_progress' user.username model.id %}">
                                <i class="clock outline icon"></i>
                                Записать работу
                            </a>
                        </div>
                    {% endif %}
                    <div style="margin-top: 30px">
                        <a href="{% url 'wip:model:delete_model' model.id %}">
                            <i class="trash alternate outline icon"></i>
                            Удалить
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% include 'wip/widgets/pagination.html' with page_obj=page_obj %}
<script>
$(document).ready(() => {
 $('#reset_filter_form').click(() => {
     window.location.href = window.location.href.split("?")[0];
 })
    $('a#submit').click(() => {
        $('#filter_form').submit();
    })
})
</script>
{% include 'wip/widgets/image_modal.html' %}
{% endblock %}