{% extends 'wip/base.html' %}
{% block content %}
<h1>Это уже не просто прототип</h1>
<h5>
    <p>Регаешься, тебя пускает внутрь с управлением.</p>
    <p>Без регистрации только <u>пластиковый куколдинг</u> - сиди смотри, как другие красят.</p>
    <p>
        В управлении настраиваешь группы статусов, настраиваешь статусы и в каком порядке они должны следовать друг за другом(опционально, если есть указание кто предыдущий, кто следующий кнопки для перевода в следующий статус выводятся).
        Один статус обязательно указать как "начальный", он будет использоваться как статус по-умолчанию при добавлении новых моделей черещ бота.
        Группы статусов нужны для "группировки" нескольких в пачки при отображении количества покрашенных/не покрашенных миниатюр
    </p>
    <p>После добавления статусов можно создавать модели.</p>
    <p>Жизненный цикл модельки определяется созданными статусами.</p>
    <p>Добавляешь миньки в свой список. По мере работы надо минькой можно записывать затраченное время. Оно потом выводится в общей ленте и будет выводится в личном списке.</p>
    <p>При записи времени можно указывать фотографию. Она будет отображаться в логе работы над моделью. Последняя фотография модели будет отображаться в общем списке моделей </p>

    <p>Можно работать через веб морду, можно работать через бота в телеге. Чтобы работал бот, при регистрации надо указать юзернейм из телеграмма. <br/>
        Бот: <a href="https://t.me/fwip_bot">@fwip_bot</a>
        <br>
        У бота есть своя инструкция по работе
    </p>


</h5>
{% endblock %}