{% extends 'wip/base.html' %}
{% block content %}
    <h1>Это прототип так сказатб</h1>
    <h5>
    <p>Регаешься, тебя пущает внутрь с управлением.</p>
    <p>Без регистрации только <u>пластиковый куколдинг</u> - сиди смотри, как другие красят.</p>
    <p>Добавляешь миньки в свой список. По мере работы надо минькой можно записывать затраченное время. Оно потом выводится в общей ленте и будет выводится в личном списке.</p>
    <p>Жизненный цикл модельки описывается следующими статусами: <br/>
    в магазине => в шкафу => собирается => собрана => грунтуется => загрунтована => начат покрас в базу => закончен покрас в базу => начат покрас с хайлайтами => закончен покрас с хайлайтами => начато оформление базы => закончено оформление базы => начато задувание лаком => все работы выполнены.
    </p>
    <p>
        Жизненный цикл делал таким, так как сам +/- крашу в такой последовательности. Наверное можно будет придумать способ сократить/кастомизировать его под нужды отдельного человека.
    </p>
    <p>Загрузки фоток пока нету.</p>
    <p>Статусы переключаются на странице списка моделей</p>
    <p>Примерный принцип работы: <br>
    решил из ящика вытащить какую-нибудь коробку и собрать. Тыкаешь в списке "Начал сборку"<br>
    Собираешь её. <br>
    Пособирал день - записал время, пособирал еще день - еще записал время. <br>
    Закончил сборку, записал последний раз время. Тыкнул - сборка завершена. Она перейдет в следующий статус "Собрана"
        <br>
    Решил грунтовать - тыкнул "начата грунтовка". Как закончил записал время, тыкнул следующий статус. <br>
    Если не грунтуешь - просто протыкал статус на покрас и все. <br>
    Если красишь несколько минек разом - ну на свой глаз делишь и пишешь время в несколько. <br>
    Если красишь сразу полностью - прокликивай ненужные статусы дальше. <br>
    Если базу оформляешь во время покраса - прокликивай в конце это время, а в другом статусе запиши что вот клеил(трогал) траву 2 часа.
        <br>
    Потом посмотреть может будет интересно. <br>
    Если не задуваешь лаком и не будешь - прокликиваешь этот статус и все. <br>
    </p>
    </h5>
{% endblock %}