{% extends 'wip/base.html' %}
{% block content %}
<h2>
    {{ title }}
</h2>
<a href="{% url 'wip:progress' user.username model.id %}">Назад</a>
<div class="ui five column doubling stackable grid container">
    <div class="column"></div>
    <div class="column">
        <form action="{% url 'wip:add_progress' model.id %}" class="ui form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="field">
                {{ form.title.errors }}
                <label>{{ form.title.label }}</label>
                {{ form.title }}
            </div>
            <div class="field">
                {{ form.description.errors }}
                <label>{{ form.description.label }}</label>
                {{ form.description }}
            </div>
            <div class="field">
                {{ form.date.errors }}
                <label>{{ form.date.label }}</label>
                {{ form.date }}
            </div>
            <div class="field">
                {{ form.time.errors }}
                <label>{{ form.time.label }}</label>
                {{ form.time }}
            </div>
            <div class="field">
                {{ form.images.errors }}
                <label>{{ form.images.label }}</label>
                {{ form.images }}
            </div>
            <div class="field">
                <button class="ui button" type="submit">Добавить</button>
            </div>
        </form>
    </div>
    <div class="column"></div>
    <div class="column"></div>
</div>
{% endblock %}