<html>
<head>
<title>WIP</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="ui menu inverted item three">
        <a class="item">Модели</a>
        <a class="item">Профиль {{ user.username }}</a>
        <a class="item" href="/wip/logout">Выход</a>
    </div>
    {% endif %}
{% block content %}
{% endblock content %}
</body>
</html>