{% extends 'wip/base.html' %}
{% block content %}
<h2>
    {{ title }}
</h2>
<a href="{% url 'wip:progress' user.username model.id %}">Назад</a>
<div class="ui five column doubling stackable grid container">
    <div class="column"></div>
    <div class="column">
        <form action="{{ submit_url }}" class="ui form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {% include 'wip/widgets/form-field.html' with field=form.title %}
            {% include 'wip/widgets/form-field.html' with field=form.description %}
            {% include 'wip/widgets/form-field.html' with field=form.date %}
            {% include 'wip/widgets/form-field.html' with field=form.time %}
            {% include 'wip/widgets/form-field.html' with field=form.images %}
            <div class="field">
                <button class="ui button" type="submit">{{ button_label }}</button>
            </div>
        </form>
    </div>
    <div class="column"></div>
    <div class="column"></div>
</div>
{% endblock %}