{% extends 'wip/base.html' %}
{% block content %}
<h2>
    Лента WIP
</h2>
<table class="celled ui table">
<thead>
    <tr>
        <th>Название</th>
        <th>Данные BS</th>
        <th>Статус</th>
        <th>Дата добавления</th>
        <th>Детали</th>
    </tr>
</thead>
<tbody>
    {% for model in models %}
        <tr>
            <td>{{ model.name }}</td>
            <td>
                {% if model.battlescribe_unit %}
                    {{ model.battlescribe_unit.name }} [{{ model.battlescribe_unit.bs_category.name }}]
                {% endif %}
            </td>
            <td>{{ model.get_status_display }}</td>
            <td>{{ model.created }}</td>
            <td>
                <div>
                    <a href="{% url 'wip:progress' model.user.username model.id %}">Подробнее</a>
                </div>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}