{% extends 'wip/base.html' %}
{% load wip_filters %}
{% block content %}
<h2>
    Лента WIP
</h2>
<table class="celled ui table" style="margin-bottom: 10px">
<thead>
    <tr>
        <th>Юзер</th>
        <th>Название</th>
        <th>Данные BS</th>
        <th>Статус</th>
        <th>Дней в ящике/Часов потрачено</th>
        <th>Детали</th>
    </tr>
</thead>
<tbody>
    {% for model in models %}
        <tr>
            <td><a href="{% url 'wip:models' model.user.username %}">{{ model.user.username }}</a></td>
            <td>
                {{ model.name }}
                {% if model.get_last_image_url %}
                    {% include 'wip/widgets/model_image.html' %}
                {% endif %}
            </td>
            <td>
                {% if model.battlescribe_unit %}
                    {{ model.battlescribe_unit.name }} [{{ model.battlescribe_unit.bs_category.name }}]
                {% endif %}
            </td>
            <td>{{ model.get_status_display }}</td>
            <td>
                {% if model.status == model.Status.DONE %}
                    Покрашена
                {% elif model.status != model.Status.WISHED %}
                    <p>лежит уже {{ model.get_days_since_buy }} дней</p>
                    {% if model.status != model.Status.IN_INVENTORY %}
                        <p>потрачено {{ model.get_hours_spent|duration }}</p>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                <div>
                    <a href="{% url 'wip:progress' model.user.username model.id %}">Подробнее</a>
                </div>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% include 'wip/widgets/pagination.html' with page_obj=page_obj %}
{% include 'wip/widgets/image_modal.html' %}
{% endblock %}