{% extends 'wip/base.html' %}
{% block content %}
<h2>
    Привет {{ user.username }}
</h2>
<table class="celled ui table">
<thead>
<th>Название</th>
<th>Статус</th>
<th>Дата добавления</th>
<th>Действия</th>
</thead>
<tbody>
    <tr>
        <td colspan="3"></td>
        <td>
            <a href="{% url 'wip:add_model' %}">Добавить</a>
        </td>
    </tr>
    {% for model in models %}
        <tr>
            <td>{{ model.name }}</td>
            <td>{{ model.get_status_display }}</td>
            <td>{{ model.created }}</td>
            <td>
                <div>
                    <a href="{% url 'wip:view_model' model.id %}">Подробнее</a>
                </div>
                <div>
                    <a href="{% url 'wip:add_progress' model.id %}">Записать работу</a>
                </div>
                <div>
                {% if model.status == model.Status.WISHED %}
                    <a href="{% url 'wip:in_inventory' model.id %}">Купил!</a>
                {% elif model.status == model.Status.IN_INVENTORY %}
                    <a href="{% url 'wip:add_progress' model.id %}">Собираю</a>
                {% elif model.status == model.Status.ASSEMBLING %}
                    <a href="">Собрал</a>
                {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}