{% extends 'wip/base.html' %}
{% block content %}
    <div class="ui five column doubling stackable grid container">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column">
            <form action="{% url 'wip:login' %}" method="post" class="ui form">
                {% csrf_token %}
                {% include 'wip/widgets/form-field.html' with field=form.username %}
                {% include 'wip/widgets/form-field.html' with field=form.password %}
                <div>
                    <button class="ui button" type="submit">Вход</button>
                </div>
                <div>
                    <a href="{% url 'wip:register' %}">Регистрация</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}