{% extends 'wip/base.html' %}
{% load wip_filters %}
{% load static %}
{% block content %}
<h2>
    Модели пользователя {{ user.username }}
</h2>
<div class="ui grid relaxed">
    <div class="column"></div>
    <div class="eight wide column">
        {% include 'wip/widgets/progress_map.html' %}
    </div>
    <div class="four wide column">
        {% for item in time_status_map %}
            <div>{{ item.0 }} - {{ item.1|duration }}</div>
        {% endfor %}
    </div>
    <div class="column"></div>
</div>
<form id="filter_form" action="{% url 'wip:models' user.username %}" class="form ui" method="get">
    {{ filter_form.status }}
<a id="submit">
    <i class="search icon"></i>
    Искать
</a>
<a id="reset_filter_form">
    <i class="undo icon"></i>Сброс
</a>
</form>
{% if request.user.is_authenticated and request.user == user %}
<a href="{% url 'wip:add_model' %}">
<i class="icon plus square outline"></i>
    Добавить
</a>
{% endif %}
<div class="ui cards">
    {% for model in models %}
        <div class="ui card">
        {% if model.get_last_image_url %}
            {% include 'wip/widgets/model_image.html' %}
        {% else %}
            <img src="{% static 'wip/img/default/ready.jpg' %}">
        {% endif %}
        <div class="content">
            <a class="header" href="">
                <a href="{% url 'wip:progress' user.username model.id %}">{{ model.name }}</a>
            </a>
            <div class="meta">
                {{ model.get_status_display }} | {{ model.get_hours_spent|duration }}
            </div>
            <div class="description">

            </div>
        </div>
        <div class="extra content">
            {% if request.user.is_authenticated and request.user == user %}
                <a href="{% url 'wip:edit_model' model.id %}">
                    <i class="pencil icon"></i>
                    Редактировать
                </a>
                {% include 'wip/widgets/model_actions.html' %}
                <div style="margin-top: 30px">
                    <a href="{% url 'wip:delete_model' model.id %}">
                        <i class="trash alternate outline icon"></i>
                        Удалить
                    </a>
                </div>
            {% endif %}
        </div>
</div>
    {% endfor %}
</div>
<script>
$(document).ready(() => {
 $('#reset_filter_form').click(() => {
     window.location.href = window.location.href.split("?")[0];
 })
    $('a#submit').click(() => {
        $('#filter_form').submit();
    })
})
</script>
{% include 'wip/widgets/image_modal.html' %}
{% endblock %}