{% extends 'wip/base.html' %}
{% load wip_filters %}
{% block content %}
<h2>
    Модели пользователя {{ user.username }}
</h2>
<form action="{% url 'wip:models' user.username %}" class="ui form" method="get">
    {{ filter_form.status.label }}:
    {{ filter_form.status }}
    <button class="ui button" type="submit">Искать</button>
</form>
<table class="celled ui table">
<thead>
    <tr>
        <th>Название</th>
        <th>Данные BS</th>
        <th>Статус</th>
        <th>Дней в ящике/Часов потрачено</th>
        <th>Действия</th>
    </tr>
</thead>
<tbody>
    {% if request.user.is_authenticated and request.user == user %}
        <tr>
            <td colspan="4"></td>
            <td>
                <a href="{% url 'wip:add_model' %}">Добавить</a>
            </td>
        </tr>
    {% endif %}
    {% for model in models %}
        <tr>
            <td>
                {{ model.name }}
                {% if model.get_last_image_url %}
                    {% include 'wip/widgets/model_image.html' %}
                {% endif %}
            </td>
            <td>
                {% if model.battlescribe_unit %}
                    {{ model.battlescribe_unit.name }} [{{ model.battlescribe_unit.bs_category.name }}]
                {% endif %}
            </td>
            <td>{{ model.get_status_display }}</td>
            <td>
                {% if model.status != model.Status.WISHED %}
                    <p>лежит уже {{ model.get_days_since_buy }} дней</p>
                    {% if model.status != model.Status.IN_INVENTORY %}
                        <p>потрачено {{ model.get_hours_spent|duration }}</p>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                <div>
                    <a href="{% url 'wip:progress' user.username model.id %}">Подробнее</a>
                </div>
                {% if request.user.is_authenticated and request.user == user %}
                    <a href="{% url 'wip:edit_model' model.id %}">Редактировать</a>
                    {% include 'wip/model_actions.html' %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% include 'wip/widgets/image_modal.html' %}
{% endblock %}