{% extends 'wip/base.html' %}
{% load wip_filters %}
{% block content %}
<h2>
    Прогресс по модели: {{ model.name }}
</h2>
<p>Потрачено всего:{{ total|duration }}</p>
<a href="{% url 'wip:models' user.username %}">Назад</a>
{% if request.user.is_authenticated and request.user == user %}
    <a href="{% url 'wip:add_progress' request.user.username model.id %}">Добавить время</a>
{% endif %}
<table class="celled ui table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>В статусе</th>
            <th>Заголовок</th>
            <th>Подробно</th>
            <th>Время</th>
            <th>Картинки</th>
            <th></th>
        </tr>
    </thead>
<tbody>
    {% for progress in progress_items %}
        <tr>
            <td>{{ progress.datetime }}</td>
            <td>
                {% if progress.user_status %}
                    {{ progress.user_status }}
                {% endif %}
            </td>
            <td>{{ progress.title }}</td>
            <td>{{ progress.description }}</td>
            <td>{{ progress.time|duration }}</td>
            <td>
                {% for item in progress.modelimage_set.all %}
                    <div class="ui image" style="cursor: pointer;">
                        <img src="{{ item.image.url }}"
                            width="100"
                            height="100"
                            data-init-width="{{ model.get_last_image.width }}"
                            data-init-height="{{ model.get_last_image.height }}"
                        >
                    </div>
                {% endfor %}
            </td>
            <td>
                {% if request.user.is_authenticated and model.user == request.user %}
                <div>
                    <a class="item" href="{% url 'wip:edit_progress' request.user.username model.id progress.id %}">Редактировать</a>
                </div>
                <div style="margin-top: 20px" class="ui red label">
                    <a class="item" href="{% url 'wip:delete_progress' request.user.username model.id progress.id %}">Удалить</a>
                </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% include 'wip/widgets/image_modal.html' %}
{% endblock %}