{% extends 'wip/base.html' %}
{% block content %}
    <div class="ui five column doubling stackable grid container">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column">
            <form action="{% url 'wip:register' %}" method="post" class="ui form">
                {% csrf_token %}
                <div class="field {{ form.first_name.errors|yesno:'error,' }}">
                    <label>{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                     {% if form.first_name.errors %}
                        {{ form.first_name.errors }}
                    {% endif %}
                </div>
                <div class="field {{ form.username.errors|yesno:'error,' }}">
                    <label>{{ form.username.label }}</label>
                    {{ form.username }}
                     {% if form.username.errors %}
                        {{ form.username.errors }}
                    {% endif %}
                </div>
                <div class="small field">
                    <label>{{ form.password.label }}</label>
                    {{ form.password }}
                </div>
                <div>
                    <button class="ui button" type="submit">Регистрация</button>
                </div>
                <div>
                    <a href="{% url 'wip:login' %}">Вход</a>
                </div>
            </form>
        </div>
        <div class="column"></div>
    <div class="column"></div>
    </div>
{% endblock %}