{% if model.status == model.Status.WISHED %}
    <div>
        <a href="{% url 'wip:model_status_action' user.username model.id 'put_in_inventory' %}">Купил</a>
    </div>
{% elif model.status == model.Status.IN_INVENTORY %}
    <div>
        <a href="{% url 'wip:model_status_action' user.username model.id 'start_assembly' %}">
            <i class="arrow alternate circle up outline icon"></i>
            Взялся собирать
        </a>
    </div>
{% else %}
    {% if model.status != model.Status.DONE %}
        <div>
            <a href="{% url 'wip:add_progress' user.username model.id %}">
                <i class="clock outline icon"></i>
                Записать работу
            </a>
        </div>
    {% endif %}
    <div>
        {% if model.status == model.Status.ASSEMBLING %}
            <a href="{% url 'wip:model_status_action' user.username model.id 'finish_assembly' %}">
                <i class="check circle outline icon"></i>Закончил собирать
            </a>
        {% elif model.status == model.Status.ASSEMBLED %}
            <a href="{% url 'wip:model_status_action' user.username model.id 'start_priming' %}">
                <i class="arrow alternate circle up outline icon"></i>Взялся грунтовать
            </a>
        {% elif model.status == model.Status.PRIMING %}
            <a href="{% url 'wip:model_status_action' user.username model.id 'finish_priming' %}">
                <i class="check circle outline icon"></i>Загрунтовал
            </a>
        {% elif model.status == model.Status.PRIMED %}
            <a href="{% url 'wip:model_status_action' user.username model.id 'start_painting' %}">
                <i class="arrow alternate circle up outline icon"></i>Начал красить в базу
            </a>
        {% elif model.status == model.Status.BATTLE_READY_PAINTING %}
            <a href="{% url 'wip:model_status_action' user.username model.id 'finish_painting' %}">
                <i class="check circle outline icon"></i>Покрасил в базу
            </a>
        {% elif model.status == model.Status.BATTLE_READY_PAINTED %}
            <a href="{% url 'wip:model_status_action' user.username model.id 'start_parade_ready_painting' %}">
                <i class="arrow alternate circle up outline icon"></i>Начал добавлять хайлайты
            </a>
        {% elif model.status == model.Status.PARADE_READY_PAINTING %}
            <a href="{% url 'wip:model_status_action' user.username model.id 'finish_parade_ready_painting' %}">
                <i class="check circle outline icon"></i>Закончил с хайлайтами
            </a>
        {% elif model.status == model.Status.PARADE_READY_PAINTED %}
            <a href="{% url 'wip:model_status_action' user.username model.id 'start_base_decoration' %}">
                <i class="arrow alternate circle up outline icon"></i>Начал оформлять базу
            </a>
        {% elif model.status == model.Status.BASE_DECORATING %}
            <a href="{% url 'wip:model_status_action' user.username model.id 'finish_base_decoration' %}">
                <i class="check circle outline icon"></i>Оформил базу</a>
        {% elif model.status == model.Status.BASE_DECORATED %}
            <a href="{% url 'wip:model_status_action' user.username model.id 'start_varnishing' %}">
                <i class="arrow alternate circle up outline icon"></i>Начал задувать лаком
            </a>
        {% elif model.status == model.Status.VARNISHING %}
            <a href="{% url 'wip:model_status_action' user.username model.id 'finish_varnishing' %}">
                <i class="check circle outline icon"></i>Задул лаком
            </a>
        {% endif %}
    </div>
{% endif %}