{% extends 'wip/base.html' %}
{% load wip_filters %}
{% load static %}
{% block content %}
<h2>
    Группы статусов пользователя {{ user.username }}
</h2>
<div style="margin: 10px"></div>
<div>
    <a href="{% url 'wip:manage' %}">Назад</a>
</div>
{% if request.user.is_authenticated and request.user == user %}
<a href="{% url 'wip:manage_status_add' %}">
<i class="icon plus square outline"></i>
    Добавить
</a>
{% endif %}
<table class="ui table celled">
    <thead>
        <tr>
            <th>Название</th>
            <th>Слаг латиницей для использования в боте</th>
            <th>Заголовок в прогрессе модели при переходе в статус</th>
            <th>Порядок сортировки</th>
            <th>Предыдущий статус</th>
            <th>Следующий статус</th>
            <th>Группа статусов</th>
            <th>Начальный</th>
            <th>Конечный</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for record in items %}
            <tr>
                <td>
                    <div>
                        {{ record.name }}
                    </div>
                </td>
                <td>
                    <div>
                        {{ record.slug }}
                    </div>
                </td>
                <td>
                    <div>
                        {{ record.transition_title }}
                    </div>
                </td>
                <td>
                    <div>
                        {{ record.order }}
                    </div>
                </td>
                <td>
                    {% if record.previous %}
                        <div>
                            {{ record.previous }}
                        </div>
                    {% endif %}
                </td>
                <td>
                    {% if record.next %}
                        <div>
                            {{ record.next }}
                        </div>
                    {% endif %}
                </td>
                <td>
                    {% if record.group %}
                        <div>
                            {{ record.group }}
                        </div>
                    {% endif %}
                </td>
                <td>
                    <div>
                        {{ record.is_initial|human_bool }}
                    </div>
                </td>
                <td>
                    <div>
                        {{ record.is_final|human_bool }}
                    </div>
                </td>
                <td>
                    <div>
                        <a href="{% url 'wip:manage_status_edit' record.id %}">Редактировать</a>
                        <a href="{% url 'wip:manage_status_delete' record.id %}">Удалить</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}